					<div class="col-md-12">
						<div class="order-summary clearfix">
							<div class="section-title">
								<h3 class="title">Order Review</h3>
							</div>
							<table class="shopping-cart-table table">
								<thead>
									<tr>
										<th>Product</th>
										<th></th>
										<th class="text-center">Price</th>
										<th class="text-center">Quantity</th>
										<th class="text-center">Total</th>
										<th class="text-right"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
									{% for paniers in panier %}
										<td class="thumb"><img src={{asset("uploads/image/" ~ paniers.Product.image.lien) }} alt=""></td>
										<td class="details">
										
											<a href="#">{{ paniers.Product.nom }}</a>
											<ul>
												<li><span>Size: {{ paniers.Product.taille }}</span></li>
												<li><span>Color: {{ paniers.Product.couleur }}</span></li>
											</ul>
										</td>
										<td class="price text-center"><strong>{{ paniers.Product.prix }} €</strong><br><del class="font-weak"><small>{{ paniers.Product.ancienprix }} €</small></del></td>
										<td class="qty text-center"><input id ="{{ paniers.Product.id }}"class="inputqty" type="number" value="{{ paniers. Quantite}}"></td>
										<td class="total text-center"><strong class="primary-color {{paniers.Product.id}}">{{ paniers.prixligne }} €</strong></td>
										<td  class="text-right"><button class="main-btn icon-btn"><i id ="{{ paniers.id }}" class="fa fa-trash cancel-btn"></i></button></td>
									</tr>
																		
								</tbody>
								{% endfor %}
								<tfoot>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>SUBTOTAL</th>
										<th colspan="2" class="sub-total totalall">{{ total }} €</th>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>SHIPING</th>
										<td colspan="2">Free Shipping</td>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>TOTAL</th>
										<th colspan="2" class="total totalall">{{ total }} €</th>
									</tr>
								</tfoot>
							</table>
							<div class="pull-right">
								<button class='primary-btn'><a href='{{ path('checkout') }}'>Place Order</a></button>
							</div>
						</div>

					</div>