<!-- Cart -->
	
						<li id ='cart' class='header-cart dropdown default-dropdown'>
							<a class='dropdown-toggle' data-toggle='dropdown' aria-expanded='true'>
								<div class='header-btns-icon'>
									<i class='fa fa-shopping-cart'></i>
									<span class="qty">{{ panier|length }}</span>
								</div>
								<strong class="text-uppercase">My Cart:</strong>
								<br>
								<span id="totalpanier">{{ total }} €</span>
							</a>
						{%  block panierviewcart %}	
							<div class="custom-menu">
								<div id="shopping-cart">
									<div class="shopping-cart-list">
							
									{% for paniers in panier %}
										
									
										<div class="product product-widget">
											<div class="product-thumb">
												<img src= {{asset("uploads/image/" ~ paniers.Product.image.lien) }}>
											</div>
											<div class="product-body">
												<h3  class="product-price"> {{ paniers.Product.prix }} € <span class="qty">x{{ paniers. Quantite }}</span></h3>
												<h2  class="product-name">{{ paniers.Product.nom }}<a href="#"></a></h2>
											</div>
											<button id="{{ paniers.id }}"class="cancel-btn"><i class="fa fa-trash"></i></button>
																
										</div>
										{% endfor %}
									</div>
									
									<div class="shopping-cart-btns">
										<button class='main-btn'><a href='{{ path('viewcard') }}'>Viewcard </a></button>
										<button class='primary-btn'><a href='{{ path('checkout') }}'>Checkout </a><i class='fa fa-arrow-circle-right'></i></button>
									</div>
								</div>
						{%  endblock %}
							</li>
						
						<!-- /Cart -->
	